.ipynb_checkpoints/
.spyproject/
.spyderproject
.vscode/
build/
dist/
data/
*.pyc
__pycache__/
.pytest_cache
*.egg-info/
*.vtu
*.vtk
*.so
*~
*pytest.ini
*topoptlib.so
*genvtu.py
*setup.py
*.clang-format

# problems
*table.py
*roof.py
*beam_stl.py
*beam_restart.py
*local.py
*sphere_full.py
*scaffold.py
*performance.py
*implant.py
*shelfbracket.py
*shelfbracket2.py
*ivd.py

# stl
implant/
shelfBracket/
ivd/
box.stl
void.stl
solid.stl
domaintorsionfull.stl
domaintorsionq.stl
hollowsphere.stl
rigidtorsionbig.stl
rigidtorsionbigfull.stl
rigidtorsionbigq.stl
rigidtorsionsmall.stl
solidtorsion.stl
tabledomain.stl
tablesolid.stl
torsionrigid14.stl
beam.stl
sphere.stl
torsionvoidsmall14.stl
domaintorsion.stl
H1402_LF_mesh.stl
torsionrigid14.stl
torsionvoid14.stl

*.vtr
*.dat

