.ipynb_checkpoints/
.spyproject/
.spyderproject
.vscode/
build/
dist/
data/
*.pyc
__pycache__/
.pytest_cache
*.egg-info/
*.vtu
*.vtk
#*.sh
#*setup.py
*~
*pytest.ini
*makevtu.py
*bin2vtu.py
*genvtu.py
*table.py
*roof.py
*beam_stl.py
*beam_local.py
*local.py
*sphere_full.py
*box.stl
*domaintorsionfull.stl
*domaintorsionq.stl
*hollowsphere.stl
*rigidtorsionbig.stl
*rigidtorsionbigfull.stl
*rigidtorsionbigq.stl
*rigidtorsionsmall.stl
*solidtorsion.stl
*tabledomain.stl
*tablesolid.stl
*scaffold.py
*topoptlib.so
*performance.py
*beam.stl
*sphere.stl